@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#banner{
    background-image: url("./assets/image/banner.jpg");
}
#back-img{
    background-image: url("./assets/image/back-img.jpg");
}

#ExploreBanner{
    background-image: url("./assets/image/ExploreBanner.jpg");
}

#clientImg1{
    background-image: url("./assets/image/client-img1.jpg");
}

#first-client1{
    background-image: url("./assets//image/client-img1.jpg");
    
}
#first-client2{
    background-image: url("./assets/image/client-img2.jpg");
}

#first-client3{
    background-image: url("./assets/image/client-img3.jpg");
}

#first-client4{
    background-image: url("./assets/image/client-img4.jpg");
}

#MainBanner{
    background-image: url("./assets/image/contact-bg.jpg");
}
#AgentsBanner{
    background-image: url("./assets/image/agents-hero.jpg");
}