@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#banner{
    background-image: url("./assets/image/banner.jpg");
}
#back-img{
    background-image: url("./assets/image/back-img.jpg");
}

#ExploreBanner{
    background-image: url("./assets/image/ExploreBanner.jpg");
}
